label {
    display: block;
}

.label-input {
    padding: 0.5rem;
}

.required:after {
    content: '*';
    color: #ff0000c4;
}

.menubar{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: #2a7cc1;
    margin: 0;
    padding: 0;
}

.menubar a {
    color: white;
}

.menubar li {
    padding: 1rem;
}

li:hover {
    background-color: #4fbce8;
}

.container {
    border: 2px solid #5c9ae652;
    box-shadow: 0 0 5px #97aacc;
    flex-wrap: wrap;
    display: inline-block;
    background-color: #f9f8f863;
    padding: 1rem;
    text-align: center;
    margin: 4% 35%;
}

form {
    color: #1c448c;
    font-size: medium;
}

input, select  {
    border: 1px solid #80a0c1;
    color: #2f2b2b;
    padding: 1%;
}

.button-style {
    margin: 1rem;
    color: white;
    background-color: #1149cacf;
    padding: 0.3rem;
    font-size: medium;
}

.p-required {
    color: #ff0000c4;
}


