.app {
  font-size: x-large;
  font-family: monospace;
  text-align: center;
}

button {
  padding: 1rem;
  font-size: medium;
  margin: 0.5rem;
}

@media (prefers-reduced-motion : no-preference) {
  .reorder-btn {
      animation-name: fadeIn;
      animation-duration: 2s;
      animation-iteration-count: 1;
  }

  @keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
}


